@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Noto+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
body{
    background: url(delhi.jpg) no-repeat center center  fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top: 20%;
    left: 45%;
    /* border: 9px solid yellow; */

}
.container h1{
    font-family: 'Roboto Condensed', sans-serif;
    width: 28%;
    color: white;
    display: inline-block;
    padding: 14px 0px;
    margin: 18px 0px;
    font-size: 30px;
    border-bottom: 3px solid yellow;
    
}
.box{
    width: 120%;
    color: white;
    padding: 8px 0px;
    margin: 30px 0px;
    border-bottom: 2px solid yellow;

}
.box input{
    width: 87%;
    border: none;
    outline: none;
    padding: 4px 0px;
    background: none;
    color: white;
    font-size: 21px;
    
}
.box i{
    width: 31px;
    text-align: center;
    font-size: 21px;
}
.btn{
    font-family: 'Roboto Condensed', sans-serif;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0.8;
    margin: 20px 0px;
    cursor: pointer;

}
.btn:hover{
    color: white;
    background-color:rgb(189, 65, 65);
}
.navbar{
    float: right;  /* it can change the side of the nav-bar */
   list-style: none;
   margin-top: 25px;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-family: initial;
    font-size: 20px;
    padding: 12px 37px;
    cursor: pointer;
   
}
.navbar :hover{
    color: white;
    /* background: brown; */

}